body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.container {
   width: 960px;
   max-width: 100%;
   margin: 0 auto;
   padding: 16px;
}

.header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    list-style: none;
    display: flex;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.button {
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    background: rgba(227, 184, 115, 1);
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.logo, .phone-number, #home-item {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: rgba(227, 184, 115, 1);
}

.hero {
    background-image: url("./images/hero.jpg");
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

#text-color {
    color: rgba(227, 184, 115, 1);
}

.subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.button-submit-application {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 2px;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.projects {
    background-color: black;
    padding-bottom: 220px;
}

.projects-navigation {
    list-style: none;
    margin-top: 0;
    right: 40 px;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    display: flex;
    justify-content: flex-end;
    z-index: 1;

}

.title-projects {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle-projects {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: white;
}

.title-projects__item {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

#chairs {
    float: right;
    left: 492px;
    width: 679px;
    height: 482px;
}

.online-control {
    margin-top: -390px;
}

.title-control__item {
    text-align: center;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.camera-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 40px;
}

.camera-img::before, .camera-img::after {
    display:inline-block;
    content: "";
    border-top: 2px solid #E3B873;
    width: 32px;
    margin: 0 1rem;
}

.online-control__img {
    width: 100%;
    max-width: 817px;
    height: 435px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
}

#group8 {
    position: absolute;
    left: calc(50% - 80px);
}

#online-control-sub {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-top: 98px;
    text-align: center;
}

.online-project-input {
    display: block;
    text-align: center;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

.repair-types {
    background-color: white;
}

.title-repair {
    display: block;
    text-align: center;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

#instruments{
    display:block;
    align-items: center;
}

.repair-items {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    flex-wrap: wrap;
}


.title-repair__item {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.title-repair__list{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.repair-items__button {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.left-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.left-side {
    background-image: url(./images/background-left.png);
    background-size: auto;
    padding-top: 50px;
    padding-right: 0;
    width: 506px;
    height: 509px;
}

.right-side {
    background-color: black;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    width: 506px;
    height: 509px;
    margin-top: 106px;
    padding: 28px 49px;
}

#header-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

#label-text {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.agree {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
}

.checkbox::after {
    background-color: #E3B873;
    border-radius: 1.5px rgba(255, 255, 255, 1);
}

.wildest-fantasies {
    background-image: url(./images/fantasies-background.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
}

.fantasies {
    position: relative;
    z-index: 1
}

.fantasies-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 864px;
    background-color: rgba(0, 0, 0, .7);
}

.fantasies-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    list-style-type: none;
}

.hands-img::before {
    content: '';
    width: 32px;
    height: 1.54px;
    background: #E3B873;
    position: absolute;
    bottom: 50%;
    right: 130%;
}

.hands-img::after {
    content: '';
    width: 32px;
    height: 1.54px;
    background: #E3B873;
    position: absolute;
    bottom: 50%;
    left: 130%;
}

.clients-info {
    background-image: url(./svg/buildings.svg);
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.clients-info__item {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: #FFFFFF;
box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients-photo {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.question-form {
    background-color: black;
    width: 885px;
    height: 445px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.question-form-overlay {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,.9);
}

.map {
    background-image: url(./svg/eric.svg);
    width: 1200px;
    height: 900px;
    display: flex;
    align-items: center;
}
